<h1>Logga in</h1>

<form action="/views/signin" method="post">
    <label>username <input type="text" name="username"></label>
    <label>email <input type="text" name="email"></label>
    <label>password <input type="text" name="password"></label>
    <label>type <input type="text" name="type"></label>
    <input type="submit" value="Spara">
   
</form>